@import url("https://cdn.syncfusion.com/ej2/material.css");


.class_content{
    font-family: 'Industry';
    width: 72%;
    height: fit-content;
    position: absolute;
    top: 20.77vh;
    left:  10%;
    padding: 20px 60px 60px 0;
    
}
.heading_class{
    font-size: 2.25em;
    line-height: 44px;
    margin-bottom: 60px;
    color: #1DAE8C;
    font-weight: 600;
} 
.entity_row{
    margin-top: 40px;
}

.row_label{
    font-family: 'Aviano';
    color: #6E6F72;
    font-size: 1.25em;
    font-weight: 600;
}
.row_btns{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.all_btn{
    background:#CBD0D6 0% 0% no-repeat;
    color: #1A272A;
    font-weight: 500;
    width: fit-content;
    height: 40px;
    padding: 11px 32px;
    border-radius: 8px;
    margin: 15px 25px 0 0;
    cursor: pointer;
}


.active{
    background: #1A272A 0% 0% no-repeat;
    color: #ffffff;
}

.other_btn{
    width: fit-content;
    height: 40px;
    padding: 11px 32px;
    border-radius: 8px;
    margin: 15px 25px 0 0;
    cursor: pointer;
    display: flex;    
}
.plus_icon{
    margin: 0 0 0 8px;
    font-size: 1.25em;
}
.more{
    margin: 10px 0 0 0;
}
.more input{
    width: 40vw;
    height: 35px;
    background: transparent;
    margin-top: 5px;
}
.more p{
    font-size: 0.875em;
    padding-top: 5px;
}
.row_text, .row_boxes, .row_equipment{
    margin-top: 20px;
}
.row_text textarea{
    background: transparent;
    padding: 15px 0 0 20px;
    border: 1px solid #789BCD;
}

.row_text textarea::placeholder{
    font-family: 'Industry';
    font-size: 1em;
}
.checkbox_container{
    margin-right: 10px;
}
.row_boxes{
    display: flex;
}
[type=checkbox]{
    width: 25px;
    height: 20px;
    margin: 5px 0 0 0;
    border: 0.5px solid #789BCD;
}
.checkbox_label{
    font-weight: 500;
    font-size: 1em;
}

.time_slots{
    display: flex;
    justify-content: space-between;
    width: 490px;
}

.add_class_btn{
    margin: 100px 0 60px 400px;
}
.left_add_class_btn{
    margin: 100px 0 100px 0;
}

.content_container a{
    text-decoration: none;
}

.input_equipment{
    width: 55.65vw;
    position: relative;
    height: 5.8vh;
    margin-bottom: 10px;
    z-index: 2;
}

.clear_btn{
    width: fit-content;
    padding: 10px 10px;
    text-align: center;
    color: #E10321;
    background: #CBD0D6;
    height: 5.54vh;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 0;
    
}

.clear_btn:hover{
    opacity: 0.6;
}

.success-message{
    font-size: 2em;
    color:#1DAE8C;
    font-weight: 400;
    text-align: center;
    display: block;
    margin: 10px auto;
}